SyntaxError: ignored

# My Jupyter Notebook on IBM Watson Studio

**Cameron Fantham**

Data Scientist

I am interested in data science because I would like to become a data scientist in the future.

###The code in the following cell will print the result of 1 + 1.

In [2]:
print(1 + 1)

2

##Fruits
1.   Apple
2.   Orange

##Animals
*   Dog
*   Cat

##~~Countries~~